# Обобщить и организовать доп конфигурации
/run/numberOfThreads 4
/run/initialize

# TODO: размер источника по размеру облучаемого объекта
/gps/pos/type Plane
/gps/pos/shape Square
/gps/pos/centre 210 0 0 mm
/gps/pos/halfx 10 mm
/gps/pos/halfy 10 mm

# /gps/position 0 0 10 cm
/gps/direction -1 0 0

/gps/particle e-
/gps/energy %i MeV

/run/printProgress 100000000
/run/beamOn 5000000000
